<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943688602514-oo4ojjlp1gp8u4ipjbbkqs0bvfjecof5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943688602514-oo4ojjlp1gp8u4ipjbbkqs0bvfjecof5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943688602514-k3pqvhcbcd3q45in4i1ehngij3ug9lsi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0TMem3PIyD4DiPxc0mnf8EC542IXLH6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>943688602514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cognitivly</string>
	<key>PROJECT_ID</key>
	<string>cognitivly</string>
	<key>STORAGE_BUCKET</key>
	<string>cognitivly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943688602514:ios:b883bfe68d0f2821ab674b</string>
</dict>
</plist>